<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="NYU Dream Team">
    <title>NYU Dream Team</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ static_url('css/bootstrap.css') }}" rel="stylesheet">
    <!-- Add custom CSS here -->
    <link href="{{ static_url('css/stylish-portfolio.css') }}" rel="stylesheet">
    <link href="{{ static_url('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  </head>

	<body>

    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="icon-reorder"></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="icon-remove"></i></a>
        <li class="sidebar-brand"><a href="#">a<span class="title-emphasis">NYC</span>dote</a></li>
        <li>
        	<form class="navbar-search pull-left">
			  <input type="text" class="search-query" placeholder="Search for stories">
			</form>
  			<button type="submit" class="btn btn-default">Submit</button>
        </li>
      </ul>
    </div>


    <div id="top" class="header">
      <div class="vert-text">
        <h1>a<span class="title-emphasis">NYC</span>dote</h1>
        <h3>The city with a million stories to be heard...</h3>
        <a href="#services" class="btn btn-default btn-lg button">Get Started</a>
      </div>
    </div>

    <div id="services" class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="service-item">
              <a href="/story" id="shuffle-button-home"><i class="service-icon icon-comment"></i></a>
              <h4><strong>Press the button</strong> to get started exploring a<strong class="title-emphasis">NYC</strong>dote!</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="callout text-center col-md-12">
          <div class="container">
          <form class="form col-md-6 col-md-offset-3" role="form">
            <h1>Or submit your story here...</h1>
            <div class="form-group">
              <input type="title" id="story-title" name="story-title" class="form-control" placeholder="Enter the title of your story">
            </div>
            <div class="form-group">
              <textarea rows="5" id="description" name="description" class="form-control" placeholder="Tell the world your story (max 300 characters)" maxlength="300"></textarea>
            </div>
            <div class="form-group">   
              <input id="location" name="location" class="form-control" placeholder="Where did your story take place?">
            </div>
            <div class="form-group col-md-12 text-center">
              <button type="submit" class="btn btn-default btn-lg button" onclick=alert("Thank you for sharing your memories with us!");"">Submit Story</button>
            </div>
          </form>
          </div>
        </div>
    </div>

</script>
  <!-- /Google Analytics API -->

  <!-- Bootstrap core JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ static_url('js/jquery.js') }}"></script>
  <script src="{{ static_url('js/bootstrap.js') }}"></script>

  <!-- Custom JavaScript for the Side Menu - Put in a custom JS file if you want to clean this up -->
  <script>
      $("#menu-close").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
  </script>
  <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
  </script>
  <script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
              || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>

	</body>

</html>