<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="NYU Dream Team">
    <title>NYU Dream Team</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ static_url('css/bootstrap.css') }}" rel="stylesheet">
    <!-- Add custom CSS here -->
    <link href="{{ static_url('css/stylish-portfolio.css') }}" rel="stylesheet">
    <link href="{{ static_url('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  </head>

	<body>
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="icon-reorder"></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="icon-remove"></i></a>
        <li class="sidebar-brand"><a href="/">a<span class="title-emphasis">NYC</span>dote</a></li>
        <li>
          <form class="navbar-search pull-left">
            <input type="text" class="search-query" placeholder="Search for stories">
          </form>
          <button type="submit" class="btn btn-default">Submit</button>
        </li>
      </ul>
    </div>

<!--Picture floated on left side -->
    <div class="side-picture pull-left visible-md visible-lg">
    </div>
<!--/end Picture-->

    <div class="container">
      <div class="row story">
        <div class="col-md-6 col-md-offset-4">
          <div id="storybox">
            <h1>Title</h1>
            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          </div>
        </div>
      </div>
      <div class="shuffle-button col-md-12 text-center">
        <a href="#"><i class="service-icon icon-comment"></i></a>
      </div>
    </div>
  <!-- Bootstrap core JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ static_url('js/jquery.js') }}"></script>
  <script src="{{ static_url('js/bootstrap.js') }}"></script>

  <!-- Custom JavaScript for the Side Menu - Put in a custom JS file if you want to clean this up -->
  <script>
      $("#menu-close").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
  </script>
  <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
  </script>
  <script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
              || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>

<!--Fade in/out storybox -->
    <script>
        $(document).ready(function() {
            $(".shuffle-button").click(function() {
                $("#storybox").animate({ opacity: 0 }, function() {
                    // Pull in random story
                    $(this).html("<div class='story'><h1>Next story.</h1></div>");
                    $(this).animate({ opacity: 1 });
                });
            });
        });
      </script>
<!--/end fade-->

  </body>